<article class="post">
    <div class='text'>
       {{text}} 
    </div>
    <div class="meta">
        {{like_count}}{{format_plural "like" like_count}} by {{user.username}} on
        {{format_date created_at}}
     </div>
     <div>
        <p>{{post_text}}</p>
     </div>
</article>