
   <div class="card post my-3">
      <div class="card-body">
         <h5 class='card-title text-muted'>@{{{user.username}}}</h5>
         <div class='p-3 post-text'>
            <p class='card-text fs-5'>{{{text}}}</p>
         </div>
         <p class='fst-italic fw-light text-end me-2 fs-6'>{{format_date created_at}}</p>
         <div class='card-body'>

            <div class='d-flex'>
               <p class='me-3'><i class="fa fa-heart"></i> {{heart_count}}</p>
               <a data-bs-toggle="collapse" href="#comments{{id}}" role="button" aria-expanded="false" aria-controls="comments{{id}}">
                  <i class="fa fa-comments"></i> {{comment_count}}
               </a>
            </div>
            <div class="collapse" id="comments{{id}}">
               <div class="card card-body">
                  {{> comments comments}}
               </div>
            </div>
            <div>
               <form class="new-comment-form" data-comment-Id={{{this.id}}}>
                  <div class="mb-3">
                     <label for="comment-textarea" class="form-label">Add your comments here..</label>
                     <textarea class="form-control post-text" id="comment-textarea" rows="1"></textarea>
                  </div>
                  <button type="submit" id='submit-comment' class="btn btn-primary float-end"><i class="fa fa-comments"></i></button>
               </form>
            </div>
         </div>
      </div>
   </div>

